* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  max-width: 100%;
  /* overflow: hidden;
  overflow-y: visible; */
  /* min-width: fit-content; */
}

.container {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  /* overflow-x: hidden;
  overflow-y: hidden; */
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  padding: 15px;
}

header .logo {
  float: left;
}

.head-menu {
  width: 60%;
  display: flex;
  justify-content: start;
  /* align-items: center; */
  color: white;
  list-style-type: none;
}

.head-menu li {
  margin-right: 30px;
}

.head-menu li a {
  color: white;
  text-decoration: none;
}

/* a:hover{
  text-decoration: underline;
} */

.notice {
  background-color: #f5f5f7;
  padding: 15px;
  /* display: flex; */
  text-align: center;
}

.iphone13 {
  text-align: center;
  line-height: 50px;
}

.iphone13 h1,
.display h1 {
  font-size: 60px;
}

.iphone13 h2 {
  font-size: 30px;
  font-weight: 300;
}

.iphone13 h3 a {
  color: #8d8d91;
  font-size: 25px;
  font-weight: 300;
  text-decoration: none;
}

.iphone13 p a {
  font-size: 23px;
  text-decoration: none;
  color: #277dd4;
}

.iphone13image {
  /* width: 1005px; */
  /* max-width: 100%; */
  height: 624px;
}

.se {
  /* max-width: 100%; */
  height: 100%;
}

.main img {
  /* max-width: 100%; */
  height: 100%;
}

/* .main .display2 img {
  max-width: 100%;
  height: 100%;
} */

.ipad {
  background-color: #000000;
  display: flex;
  justify-content: space-evenly;
}

.ipadcontainer {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.ipadcontainer a {
  color: white;
  line-height: 50px;
  text-decoration: none;
  font-weight: 300;
}

.ipadcontainer h2 {
  font-size: 30px;
  font-weight: 300;
}

.ipadcontainer h3 a,
.display h3 a,
.display2 h3 a {
  color: #8d8d91;
  font-size: 25px;
  font-weight: 300;
  text-decoration: none;
}

.ipadcontainer p a,
.display p a,
.display2 p a {
  font-size: 23px;
  text-decoration: none;
  color: #277dd4;
}

/* .main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */

.display,
.display2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  list-style-type: none;
  text-align: center;
  margin-top: 80px;
  background-color: #fbfbfd;
  line-height: 40px;
  padding: 20px;
}

.display img {
  /* width: 100%; */
  height: 100%;
}

.display2 img {
  max-width: 100%;
  height: 100%;
}

.display2 a {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

.lastpara {
  background-color: #f5f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  line-height: 20px;
  color: #424245;
}

.bottom > ul {
  list-style-type: none;
}

.bottom-menu {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f5f7;
}

.bottom-menu > ul {
  list-style-type: none;
}

.bottom-menu a {
  color: #424245;
  text-decoration: none;
  line-height: 25px;
  font-size: 15px;
}

.hr {
  border: 1px solid #d2d2d7;
}

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  width: 100%;
  background-color: #f5f5f7;
}

footer > ul {
  list-style-type: none;
}

.footer-menu {
  display: flex;
}

footer > ul > li > a {
  color: #424245;
  text-decoration: none;
}

.last {
  display: flex;
  flex-direction: row;
  background-color: #f5f5f7;
  justify-content: center;
  align-items: center;
}

.lasts {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

a {
  color: #0868c9;
  text-decoration: none;
}

a:hover {
  color: #0868c9;
  text-decoration: underline;
}

/* media queries */

@media screen and (max-width: 768px) and (min-width: 320px) {
  .ipadcontainer {
    flex-direction: column;
    padding: 2em;
  }

  .main .display {
    flex-direction: column;
    padding: 20px;
  }

  .main .display2 {
    flex-direction: column;
  }

  .iphone13image {
    display: none;
  }

  header {
    display: none;
  }
}

/* mobile size */
/* @media screen and (max-width: 768px) {
  .ipadcontainer {
    width: 100%;
    flex-direction: column;
    padding: 50px;
  }
  .iphone13image {
    display: none;
  }
  img {
    max-width: 100%;
  }

  .bottom {
    width: 100%;
  }

  .head-menu {
    width: 100%;
  }

  .bottom-menu {
    padding: 0 1em;
  }

  .bottom-menu li {
    margin-right: 10px;
  }

  .head-menu {
    display: inline-block;
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .ipadcontainer {
    width: 100%;
    flex-direction: column;
    padding: 50px;
  }
  .iphone13image {
    display: none;
  }
  img {
    max-width: 100%;
  }

  .bottom {
    width: 100%;
  }

  .head-menu {
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .ipadcontainer {
    width: 100%;
    flex-direction: column;
    padding: 50px;
  }
  .iphone13image {
    display: none;
  }
  img {
    max-width: 100%;
  }

  .bottom {
    width: 100%;
  }

  .head-menu {
    width: 100%;
  }
} */
