* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  max-width: 100%;
}

header {
  display: flex;
  justify-content: center;
  background-color: #333333;
  padding: 15px;
  font-size: 12px;
  font-weight: 100;
  overflow: hidden;
}

header .logo .fa-brands {
  color: white;
  margin-right: 40px;
}

header .store {
  align-self: flex-end;
}

.head-menu {
  width: 60%;
  display: flex;
  justify-content: space-between;
  color: white;
  list-style-type: none;
}

.head-menu li {
  margin-right: 15px;
}

.head-menu li a {
  color: white;
  text-decoration: none;
}

.notice {
  background-color: #f5f5f7;
  padding: 15px;
  text-align: center;
}

.iphone13 {
  text-align: center;
  line-height: 50px;
}

.iphone13 h1,
.display h1 {
  font-size: 60px;
}

.iphone13 h2 {
  font-size: 30px;
  font-weight: 300;
}

.iphone13 h3 a {
  color: #8d8d91;
  font-size: 25px;
  font-weight: 300;
  text-decoration: none;
}

.iphone13 p a {
  font-size: 23px;
  text-decoration: none;
  color: #277dd4;
}

.iphone13image {
  height: 624px;
}

.se {
  height: auto;
}

.main img {
  height: 100%;
}

.ipad {
  background-color: #000000;
  display: flex;
  justify-content: space-evenly;
}

.ipadcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.ipadcontainer a {
  color: white;
  line-height: 50px;
  text-decoration: none;
  font-weight: 300;
}

.ipadcontainer h2 {
  font-size: 30px;
  font-weight: 300;
}

.ipadcontainer h3 a,
.display h3 a,
.display2 h3 a {
  color: #8d8d91;
  font-size: 25px;
  font-weight: 300;
  text-decoration: none;
}

.ipadcontainer p a,
.display p a,
.display2 p a {
  font-size: 23px;
  text-decoration: none;
  color: #277dd4;
}

.display,
.display2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  text-align: center;
  margin-top: 50px;
  background-color: #fbfbfd;
  line-height: 40px;
  padding: 20px;
}

.display img {
  height: auto;
}

.display2 img {
  max-width: 100%;
  height: auto;
}

.display2 a {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

.lastpara {
  background-color: #f5f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 12px;
}

.bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  line-height: 20px;
  color: #424245;
}

.bottom > ul {
  list-style-type: none;
}

.bottom-menu {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f5f7;
}

.bottom-menu > ul {
  list-style-type: none;
}

.bottom-menu a {
  color: #424245;
  text-decoration: none;
  line-height: 25px;
  font-size: 15px;
}

.hr {
  border: 1px solid #d2d2d7;
}

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  width: 100%;
  background-color: #f5f5f7;
  font-size: 12px;
}

footer > ul {
  list-style-type: none;
}

.footer-menu {
  display: flex;
}

footer > ul > li > a {
  color: #424245;
  text-decoration: none;
}

.last {
  display: flex;
  flex-direction: row;
  background-color: #f5f5f7;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.lasts {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

a {
  color: #0868c9;
  text-decoration: none;
}

a:hover {
  color: #0868c9;
  text-decoration: underline;
}

/* media queries */

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .head-menu {
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  .iphone13mobile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .ipadcontainer {
    flex-direction: column;
    padding: 2em;
    text-align: center;
  }

  .main .display {
    flex-direction: column;
    padding: 20px;
  }

  .main .display2 {
    flex-direction: column;
  }

  .iphone13image {
    display: none;
  }

  header .head-menu {
    display: none;
  }

  .bottom-menu {
    padding: 0 1em;
  }

  .bottom-menu a {
    font-size: 13px;
  }

  .bottom-menu ul {
    margin-right: 10px;
  }
}
